<footer>

    <div class = "footer">
    <img src='/shortTrans.png' alt='Peer2Peer Logo' width=100 height=100>
        <br>
    <a href="mailto:peer2peercharlotte@gmail.com">Email us: peer2peercharlotte@gmail.com</a>
    <br><a href = 'https://peer2peercharlotte.weebly.com/' target = "blank">Website: peer2peercharlotte.weebly.com</a>
    <br>Connect with us on social media: @peer2peercharlotte<br>

    </div>
</footer>