<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <div id="leftHeader">
        <h2><a href='/'>Peer2Peer</a></h2>
        <% if (signedIn) { %>
            <p>Welcome, <%=firstName%></p>
        <% } %>
    </div>
    <div id='rightHeader'>
        <a <%if(typeof home !== 'undefined' && home){%>class = "active-page"
           <%}%>href='/'>Home</a>
        <% if (!signedIn) { %>
            <a href='/auth'>Sign up with Google</a>
        <% } else { %>
            <% if (isStudent) { %>
                <a <%if(typeof onStudentPage !== 'undefined' && onStudentPage){%>class = "active-page"
                   <%}%>href='/student'>Student Home</a>
            <% } else { %>
                <a href='/signup/student'>Signup as Student</a>
            <% } %>

            <% if (isMentor) { %>
                <a <%if(typeof onMentorPage !== 'undefined' && onMentorPage){%>class = "active-page"
                   <%}%>href='/mentor'>Mentor Home</a>
            <% } else if (appliedMentor) { %>
                <a>Your Mentor application is being processed.</a>
            <% } else { %>
                <a href='/signup/mentor'>Apply for Mentor</a>
            <% } %>

            <% if (isPeerLeader) { %>
                <a <%if(typeof onPLPage !== 'undefined' && onPLPage){%>class = "active-page"
                   <%}%> href='/peerleader'>Peer Leader Home</a>
            <% } %>

            <a <%if(typeof acc !== 'undefined' && acc){%>class = "active-page"
               <%}%> href='/account'>Account</a>
            <a href='/logout'>Logout</a>
        <% } %>


    </div>
    <nav>

        <div>
        <label>
            <select onchange="location = this.value;">
                <option value = "" selected = selected">

                    <%if(typeof onMentorPage !== 'undefined' && onMentorPage){%>
                        Mentor Home
                    <%}else if(typeof onPLPage !== 'undefined' && onPLPage){%>
                        Peer Leader Home
                    <%}else if(typeof acc !== 'undefined' && acc){%>
                        Account
                    <%}else if(typeof onStudentPage !== 'undefined' && onStudentPage){%>
                        Student Home
                    <%}else{%>
                        Menu
                    <%}%>
                </option>
                <option value='/'>Home</option>
                <% if (!signedIn) { %>
                    <option value='/auth'>Sign up with Google</option>
                <% } else { %>
                    <% if (isStudent) { %>
                        <option value='/student'>Student Home</option>
                    <% } else { %>
                        <option value='/signup/student'>Signup as Student</option>
                    <% } %>

                    <% if (isMentor) { %>
                        <option value='/mentor'>Mentor Home</option>
                    <% } else if (appliedMentor) { %>
                        <option>Your Mentor application is being processed.</option>
                    <% } else { %>
                        <option value='/signup/mentor'>Apply for Mentor</option>
                    <% } %>

                    <% if (isPeerLeader) { %>
                        <option value='/peerleader'>Peer Leader Home</option>
                    <% } %>

                    <option  value='/account'>Account</option>
                    <option value='/logout'>Logout</option>
                <% } %>
            </select>
        </label>
        </div>
    </nav>
</header>
