<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Peer2Peer Home</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
  </head>
  <body>

    <h1>Home Page</h1>
    <img src="<%= profileImg %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= name %></h4>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/logout'">Log out</button>

  </body>
</html>
