<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peer2Peer Home</title>
<style>
    <%- include('whole-website.css') -%>
#content {
    margin-left: 10px;
    text-align: center;
}
</style>
    </head>
    <body>
        <%- include('header'); -%>

        <div id="content">
            <h1>Welcome to Peer2Peer!</h1>
            <div class="info">
            <p>We are a free online peer tutoring program connecting mentors with students during these uncertain
                times. Since our first session in April 2020, we have conducted over 400 sessions building a
                community of over 300 students. Check out our website <a href = https://peer2peercharlotte.weebly.com target="_blank"> HERE</a> for more
                information.</p><br>
            <p>This is the <b>Peer2Peer Session Scheduler </b>- a website designed to automate the 1-1 scheduling
                    process by
                pairing students up with mentors and peer leaders. Please email peer2peercharlotte@gmail.com with
                any questions, concerns or issues. We look forward to working with you soon!</p></div>
            <img class = "home-logo" src='/fullLogo.png' alt='Peer2Peer Logo' width=100 height=100>

            <% if (!signedIn) { %>
                <button class="btn btn-outline-primary" onclick="window.location.href='/auth'">Sign up / Log in with
                    Google</button>
            <% } else { %>
                <% if (!isStudent) { %>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/signup/student'">Sign up
                        as Student</button>
                <% } else {  %>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/student'">Go to Student
                        Home</button>
                <% } %>

                <% if (!isMentor && !appliedMentor) { %>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/signup/mentor'">Apply for
                        Mentor</button>
                <% } else if (isMentor) { %>
                    <button class="btn btn-outline-primary" onclick="window.location.href='/mentor'">Go to Mentor
                        Home</button>
                <% } else { %>
                    <p>Your mentor application is being processed.</p>
                <% } %>
                <br>
                <br>
                <button class="btn btn-outline-primary" onclick="window.location.href='/logout'">Logout</button>
            <% } %>
        </div>
    <div class="images">
        <img style="float:left" class="sessionPic" src="/math-session.jpg" alt="math session">
        <img style="float:right"class="sessionPic" src="/cs-session.jpg" alt="computer science session">
        <img style="float:left" class="sessionPic" src="/math2-session.jpg" alt="math session">
        <img class="sessionPic" src="/chinese-session.png" alt="chinese session">
    </div>
    </body>
    <%- include('footer.ejs'); -%>
</html>
