<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peer2Peer Signup</title>
<style>
<%- include('../whole-website.css'); -%>

</style>
    </head>
    <body>
        <%- include('../header'); -%>

        <h1>Sign up</h1>
        <% if (!isStudent) { %>
            <button onclick="window.location.href='/signup/student'">Sign up as Student</button>
        <% } else {  %>
            <button onclick="window.location.href='/student'">Go to Student Home</button>
        <% } %>

        <% if (!isMentor && !appliedMentor) { %>
            <button onclick="window.location.href='/signup/mentor'">Apply for Mentor</button>
        <% } else if (isMentor) { %>
            <button onclick="window.location.href='/mentor'">Go to Mentor Home</button>
        <% } else { %>
            <p>Your mentor application is being processed.</p>
        <% } %>

    </body>
    <%- include('../footer.ejs'); -%>
</html>
