<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer2Peer Peer Leader Application</title>
    <style>
        <%- include('../header-footer.css'); -%>
        .err {
            font-size: 11pt;
            display: inline;
            color: red;
        }
        #content {
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>

<h1>Peer Leader Application!!</h1>
<%- include('../footer.ejs'); -%>